@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
    background: linear-gradient(90deg, #3c3c49 0%, #383030 100%);
}

p {
    color: azure;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
}

.navbar-brand img {
    width: 50px;
}

.navbar-toggler {
    background-color: azure;
}

.sidebar {
    color: azure;
    background: linear-gradient(270deg, #3c3c49 0%, #473434 100%);
}

.card {
    background-color: #e6b3b3;
}

.card a {
    text-decoration: none;
    color: black;
}

.slide-text ,
.footer-text {
    color: azure;
    margin: auto auto;
}

.card-text {
    color: black;
}

footer {
    background: #473434;
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-main {
    animation: call 3s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

@media (max-width : 755px) {
    .carousel-indicators {
        display: none;
    }
}
